.cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2px;
  width: 50%;
  margin: 0 auto;
  margin-top: 8rem;
  overflow-x: hidden;
}

mat-card {
  width: 285px;
  margin: 10px;
  box-shadow: 4px 3px 8px 0px rgb(200 152 44 / 22%);
  padding-right: unset;

  &:hover {
    cursor: pointer;
    box-shadow: 4px 3px 11px 6px rgb(200 152 44 / 46%);
  }
}

.mat-card-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin-top: 20px;

  mat-icon {
    font-size: 2rem;
    color: #5d6c85;

    &:hover {
      cursor: pointer;
    }
  }

  .page-number {
    margin: 10px;
    transform: translate(3px, 3px);
    font-size: 1.2rem;
    font-weight: bold;
    color: #5d6c85;
  }
}

@media screen and (max-width: 1200px) {
  .cards-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 600px) {
  .cards-container {
    grid-template-columns: 1fr;
  }

  mat-card {
    width: 85%;

    .mat-card-image {
      width: 177px;
    }
  }

  :host app-nav {
    ::ng-deep .nav-bar {
      &>.search-form {
        &>input {
          width: 130px !important;
        }
      }
    }
  }
}