.loading-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);

  mat-spinner {
    margin-bottom: 30px;
  }

  span {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
  }
}